*.iml
.gradle
/local.properties
/.idea/misc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea
.DS_Store
/build
./buildSrc
/captures
.externalNativeBuild
.cxx
aircasting-ad-hoc.keystore
aircasting.keystore
app/google-services.json
app/release
app/experimentalRelease
private_key.pepk