<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.llp.aircasting">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name="pl.llp.aircasting.AircastingApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aircasting"
        android:usesCleartextTraffic="true">

        <service
            android:name="pl.llp.aircasting.sensor.microphone.MicrophoneService"
            android:stopWithTask="true" />

        <service
            android:name="pl.llp.aircasting.sensor.AirBeamRecordSessionService"
            android:stopWithTask="true" />

        <service
            android:name="pl.llp.aircasting.sensor.AirBeamReconnectSessionService"
            android:stopWithTask="true" />

        <service
            android:name="pl.llp.aircasting.sensor.AirBeamSyncService"
            android:stopWithTask="true" />

        <service
            android:name="pl.llp.aircasting.sensor.AirBeamClearCardService"
            android:stopWithTask="true" />

        <activity
            android:name="pl.llp.aircasting.screens.onboarding.OnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.llp.aircasting.screens.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.llp.aircasting.screens.login.LoginActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.llp.aircasting.screens.create_account.CreateAccountActivity"
            android:excludeFromRecents="true"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.llp.aircasting.screens.new_session.NewSessionActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.llp.aircasting.screens.session_view.map.MapActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.llp.aircasting.screens.session_view.graph.GraphActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.llp.aircasting.screens.settings.my_account.MyAccountActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.llp.aircasting.screens.settings.clear_sd_card.ClearSDCardActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="pl.llp.aircasting.screens.sync.SyncActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="pl.llp.aircasting.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
